* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: hsl(180, 100%, 30%);
}
/* Link to high scores & Timer aligned at header ends */
.header {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
/* Hover selector for high scores link */
a:hover {color: darkgray;}

/* For navigating through questions */
.hide {
    display: none;
}

/* Main content on centered white card */
.main {
    justify-content: center;
    align-items: center;
    width: 500px;
    max-width: 75%;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px;
}

/* Button stylings, hover effect */
.btn {
    border: 3px solid hsl(200, 100%, 25%);
    border-radius: 5px;
    background-color: hsl(200, 100%, 50%);
    padding: 15px 20px;
    margin: 15px;
    color: white;
    font-size: large;
    width: 40%;
}

.btn.submit-btn {
    border-width: 2px;
    padding: 5px;
    font-size: medium;
    width: fit-content;
}

.btn:hover {
    background-color: hsl(200, 50%, 50%);
}
/* Correct answers revealed in green */
.btn.correct {
    background-color: hsl(120, 100%, 30%);
    border-color: hsl(120, 100%, 20%);
}
/* Incorrect answers revealed in red */
.btn.wrong {
    background-color: hsl(0, 100%, 30%);
    border-color: hsl(0, 100%, 20%);
}

/* Buttons arranged in column on xs devices */
@media screen and (max-width: 576px) {
    .btn {width: 80%;}
}